.caja-texto-caja {
	.grid {
		> div {
			border-radius: 1rem;
			padding: 2rem;

			.num {
				display: block;
				font-size: var(--raw-font-size-enormous);
				font-weight: bold;
			}

			div.contrast {
				border-radius: 1rem;
				padding: 2rem;
				text-align: center;
				background-color: var(--raw-color-blue-bg);

				h3, p, b, li, small, a {
					color: var(--raw-color-white);
				}

				h3 {
					font-size: var(--raw-font-size-biggest);
				}
			}

			&:last-of-type .contrast {
				height: 100%;
				padding: 3rem 2rem;
			}
		}
	}
}