#author-page {
	.author {
		padding: 3rem 0 1.5rem;
		text-align: center;

		.container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		h1 {
			margin-bottom: .5rem;
		}

		p {
			font-size: var(--raw-font-size-small);
			color: var(--raw-color-white);
		}

		img {
			border: .25rem solid white;
			border-radius: 100%;
			margin: -1rem 2rem 0 0;
		}
	}

	.grid {
		margin: 2rem auto;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;
		gap: 1rem 2rem;

		article {
			display: flex;
			margin: 0;
			padding: 0;
		}
	}

	nav.pagination {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0 auto 2rem;
		text-align: center;
		color: var(--raw-color-text);
		font-size: var(--raw-font-size-big);

		.screen-reader-text {
			display: none;
		}

		.nav-links {
			display: flex;
			flex-direction: row;

			a, span {
				padding: 0;
				margin: .25rem;
				align-self: center;
			}
		}

		a {
			font-size: var(--raw-font-size-big);
			color: var(--raw-color-orange);
		}

		span.current {
			background: var(--raw-color-orange);
			color: var(--raw-color-white);
			padding: .35rem .25rem;
			height: 53px;
			width: 55px;
			border-radius: 100%;
			margin: 0 .5rem;
			font-size: var(--raw-font-size-bigger);
		}

		a:first-child {
			margin-right: 1.5rem;
		}

		a:last-child {
			margin-left: 1.5rem;
		}
	}
}

@media all and (max-width:520px) {

	#author-page {
		.author {
			.container {
				flex-direction: column;

				img {
					margin: 0;
				}

				h1 {
					margin-top: 1.5rem;
				}
			}
		}

		nav.pagination {
			a:first-child,
			a:last-child {
				display: none;
			}

			a {
				margin: 0 1rem !important;
			}
		}
	}

}
