.icono-caja {
	ul {
		li {
			text-align: center;
			padding: 0 .25rem;

			.title {
				color: var(--raw-color-black);
				font: var(--raw-font-weight-bolder) var(--raw-font-size-bigger) var(--raw-font-roboto);
			}

			p {
				padding: 0 .25rem;
				font-size: var(--raw-font-size-big);
			}

			i {
				color: var( --raw-color-orange );
				font-size: var( --raw-icon-font-size );
				margin-bottom: 1rem;
			}
		}
	}
}