.containers-body-reunificacion-deudas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.container-reunificacion-deudas {
  width: 100%;
  margin: 0;
  padding: 50px;
  border-radius: 20px;
  background-color: #14264d;
  text-align: center;
}

.container-reunificacion-deudas + .container-reunificacion-deudas {
  margin-left: 2%;
}

.container-reunificacion-deudas:first-child {
  margin-left: 10px;
}

.container-reunificacion-deudas:last-child {
  margin-right: 10px;
}

.container-title {
  margin-bottom: 30px;
  color: white !important;
  font-size: 30px !important;
  font-weight: 700;
}

.container-texto1,
.container-texto2,
.container-texto3 {
  white-space: normal;
  font-family: "Roboto", Sans-serif;
}

.container-texto1 {
  color: #54595f !important;
  font-size: 28px !important;
  font-weight: 400;
}

.container-texto2 {
  margin-bottom: 20px;
  color: #ffffff !important;
  font-size: 55px;
  font-weight: 800;
}

.container-texto3 {
  margin-bottom: 34.4px;
  margin-left: 0.5rem;
  margin-right: 1rem;
  color: #ffffff !important;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.container-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 600;
  color: #14264d;
  background-color: #e4e4e4;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container-button:hover {
  background-color: #d86e51;
}

/* Media queries */
@media (max-width: 660px) {
  .containers-body-reunificacion-deudas {
    flex-direction: column;
    margin: 0 10px;
  }

  .container-reunificacion-deudas:first-child {
    margin-bottom: 2%;
    margin-right: 10px;
  }

  .container-title,
  .container-texto1 {
    line-height: 1;
  }

  .container-texto2 {
    font-size: 30px;
    margin-bottom: 20%;
  }

  .container-texto3 {
    display: none;
  }

  .container-button {
    font-size: 18px;
    padding: 15px 25px;
    margin-bottom: 10%;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .container {
    padding: 15px;
  }
}

@media (min-width: 993px) {
  .container {
    padding: 20px;
  }
}
