.faqs {
	h2 {
		text-align: center;
	}

	ul.accordion {
		margin: 0 auto;
		padding: 0;

		> li {
			position: relative;
			margin: -1px 0 0;
			padding: .5rem 1rem;
			list-style: none;
			border: 1px solid var(--raw-color-grey-ccc);

			ul {
				margin-bottom: 1.5rem;
			}

			h3 {
				text-wrap: unset;
				margin-left: 2.5rem;
				margin-bottom: 0;
				color: var( --raw-color-orange );

				&:hover {
					cursor: pointer;
				}

				label {
					color: var( --raw-color-orange );
					font-weight: var(--raw-font-weight-bold);

					&:hover {
						cursor: pointer;
					}
				}

				&:before {
					content: ' + ';
					line-height: 2rem;
				}

				&:before, &:after {
					position: absolute;
					top: .25rem;
					left: 1rem;
					display: inline-block;
					font-size: 3rem;
					font-weight: 400;
					padding-right: 1.5rem;
				}
			}

			input {
				display: none;

				&:checked + h3:before {
					content: ' - ';
				}

				&:checked ~ div {
					display: block;
					color: var(--raw-color-blue-bg);
				}
			}

			div {
				margin: 1.5rem 0 1.5rem;
				display: none;
			}
		}
	}

	a[role="button"] {
		display: table;
		margin: 3rem auto 0;
	}
}

@media all and (min-width: 1025px) {
	.faqs ul.accordion {
		width: 60vw;
	}
}

@media all and (max-width: 520px) {
	body .faqs ul.accordion h3:before {
		top: 20%;
	}
}