#main-clicklure {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #14264D !important;
    padding: 30px 6cqh 30px 30px;
    margin: 10% 25%;
    max-width: 657px;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.pareja-inputs-clicklure {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row !important;
    margin-bottom: 25px;
    gap: 50px;
}

.container-inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-inputs-individual {
    margin-bottom: 20px;
}

.labels-form-clicklure {
    color: aliceblue !important;
}

.inputs:valid:focus {
    background-color: lightblue !important; /* Cambia este color por el que prefieras */
}

.inputs {
    width: 250px !important;
    height: 50px !important;
    background-color: aliceblue !important;
    color: black !important;
    border-radius: 20px !important;
    border-color: rgb(178, 196, 212);
}

.inputs-options {
    width: 550px !important;
    height: 50px !important;
    padding: 0px 15px;
    border-radius: 20px !important;
    color: #14264D;
    border-color: rgb(178, 196, 212) !important;
    background-color: aliceblue !important;
}

#politica-privacidad{
    text-align: center;
    color: aliceblue;
}

#mensaje {
    height: 80px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    resize: none;
    overflow: hidden; 
}

#button-form-leads {
    margin-top: 20px;
    margin-bottom: 0px !important;
    border-radius: 25px;
    color: #14264D !important;
    background-color: #F0F8FF !important;
    border-color: rgb(178, 196, 212);
}

#button-form-leads:hover {
    background-color: #14264D !important;
    color: #F0F8FF !important;
    border-color: rgb(178, 196, 212);
}

#container-inputs-pick-list {
    width: 100%;
}

.container-checkbox-form{
    input{
        background-color: aliceblue !important;
        width: 25px !important;
        height: 25px !important;
		padding-right: 20px;
		margin-left: 0px ;
    }
}

.container-checkbox-form{
    input:checked{
        background-color: rgb(69, 218, 255) !important;
      
    }
}

/* Estilos para ocultar las flechas en navegadores Webkit (Chrome, Safari) */
input[type="tel"]::-webkit-outer-spin-button,
input[type="tel"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Cambia la dirección de pareja-inputs-clicklure a columnas en pantallas pequeñas */
@media (max-width: 768px) {
    #main-clicklure{
        align-items: center;
        text-align: center;
    }
    .pareja-inputs-clicklure {
        flex-direction: column !important;
        gap: 20px;
    }

    #main-clicklure {
        margin: 5% 10%;
        padding: 20px;
    }

    .inputs-options {
        width: 100% !important;
    }
    .inputs-options{
        width: 250px !important;
    }

    #mensaje{
        width: 250px !important;
    }
    #button-form-leads {
        text-align: center;
        margin-left: 0px;
    }
}